* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
section {
  width: 100vw;
}
h1 {
  text-align: center;
  font-size: 4rem;
  text-decoration: underline gray;
}
nav {
  border-bottom: 2px solid black;
}
.navbar {
  padding: 20px 0px;
  font-size: 2rem;
}
.navbar a {
  margin: 0px 10px;
}
.navbar a:hover {
  text-decoration: underline;
}
.Home,
.About,
.ContactUs {
  background-color: gainsboro;
}
.section1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.text {
  font-size: 2.5rem;
}
.img img {
  width: 35rem;
  height: 35rem;
  mix-blend-mode: multiply;
}
.container {
  margin: auto;
  justify-content: space-evenly;
}
.card {
  margin-bottom: 20px;
}
.card img {
  margin-top: 10px;
  border: 2px dashed grey;
  width: 262px;
  height: 262px;
}
.service {
  padding-top: 110px;
}
.main {
  width: 80vw;
  margin: auto;
  border-radius: 20px;
  padding-top: 110px;
}
.main p {
  font-size: 1.5rem;
  margin: 0px;
  padding-bottom: 20px;
}
.main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 80vw;
  height: 60vh;
  margin: 20px auto;
  border-radius: 50px;
  border: 2px dashed grey;
}
.Gallery .card1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}
.Gallery .card1 img {
  width: 20rem;
  height: 20rem;
  border: 2px dashed grey;
  border-radius: 20px;
  margin: 20px auto;
}
.main2 {
  padding-top: 110px;
}
.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.icons i,
.footer i,
.connect i {
  font-size: 2rem;
  padding-bottom: 5px;
}
form {
  margin-top: 30px;
  width: 70vw;
  margin: auto;
}
.main3 {
  padding-top: 110px;
}
.footer {
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}
.contect i {
  margin-top: 10px;
}
.connect i {
  padding: 10px;
}
.useful-links {
  font-size: 1.5rem;
}
.useful-links a {
  text-decoration: none;
  color: black;
}
.copywrite {
  margin-top: 40px;
  text-align: center;
}
@media (max-width: 991px) {
  section {
    width: 100vw;
  }
  .navbar-nav a {
    margin: auto;
  }
  .section1 {
    display: flex;
    flex-direction: column-reverse;
  }
  #img img {
    width: 33rem;
    height: 33rem;
  }
  .copywrite {
    text-align: center;
  }
  .text {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  section {
    width: 100vw;
  }
  .navbar-nav a {
    margin: auto;
  }
  .section1 {
    display: flex;
    flex-direction: column-reverse;
  }
  #img img {
    width: 30rem;
    height: 30rem;
  }
  .copywrite {
    text-align: center;
  }
}
@media (max-width: 617px) {
  section {
    width: 100vw;
  }
}
@media (max-width: 450px) {
  section {
    width: 100vw;
  }
  .navbar-nav a {
    margin: auto;
  }
  h1 {
    font-size: 2.5rem;
  }
  .section1 {
    display: flex;
    flex-direction: column-reverse;
  }
  #img img {
    width: 20rem;
    height: 20rem;
  }
  .card img {
    margin: auto;
    margin-top: 10px;
    width: 14rem;
    height: 14rem;
  }
  .Gallery .card1 img {
    width: 16rem;
    height: 16rem;
  }
  .icons {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px 80px;
    align-items: start;
  }
  .footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-left: 50px;
  }
  .copywrite {
    margin-top: 0px;
    font-size: 0.9rem;
    text-align: center;
  }
  .text {
    font-size: 2rem;
    margin: 0px 20px;
  }
  .main img {
    height: 15rem;
  }
  .main p {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  section {
    width: 100vw;
    margin-right: 0px;
  }
  h1 {
    font-size: 2.5rem;
  }
  .section1 {
    display: flex;
    flex-direction: column-reverse;
  }
  #img img {
    width: 15rem;
    height: 15rem;
  }
  .card img {
    margin: auto;
    margin-top: 10px;
    width: 14rem;
    height: 14rem;
  }
  .Gallery .card1 img {
    width: 14rem;
    height: 14rem;
  }
  .icons {
    display: flex;
    flex-direction: column-reverse;
    margin: 0px 50px;
    align-items: start;
  }
  .footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-left: 50px;
  }
  .copywrite {
    margin-top: 0px;
    font-size: 0.9rem;
  }
  .text {
    font-size: 1.5rem;
    margin: 0px 20px;
  }
  .main img {
    height: 15rem;
  }
  .main p {
    font-size: 1rem;
  }
}
